/* animaion */


@keyframes back-rotate{
    0% {
        transform: rotateZ(-4deg);
    }
    
    50% {
        transform: rotateZ(5deg);
    }
    
    100% {
        transform: rotateZ(-4deg);
    }
}


@keyframes front-mouth{
    0% {
        width: 56px;
    height: 56px;
    }
    
    50% {
        width: 67px;
        height: 78px;
    }
    
    100% {
        width: 56px;
        height: 56px;
    }
}





/* setting */
:root {
    --main-color: #F2C849;
    --face-color: #674400;
    --hand-color: #F28C0F;
}

/* reset */
body {
    margin: 0;
    padding: 0;
}

/* layout */
/* design */
*, *:after, *:before {
    box-sizing: border-box;
}

body {
    background-image: url(./imgaes/);
}

.emoji {
    position: relative;
    margin: 50px auto;
    width: 400px;
    height: 380px;
    z-index: 50;
}

.emoji.front {
    top: 161px;
    
}

.emoji.front .face {
    position: absolute;
    bottom: 0;
    width: 300px;
    height: 300px;
    /*     background: linear-gradient( #ffeebb 0%, #f2c849 70%, #d6a615 100%); */
    background: var(--main-color);
    overflow: hidden;
    border-radius: 50% ;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
}

.emoji.front .eye {
    position: absolute;
    width: 40px;
    height: 50px;
    border-radius: 50%;
    background: var(--face-color);
    z-index: 3;
}

.emoji.front .eye.left {
    top: 183px;
    left: 78px;
}

.emoji.front .eye.right {
    top: 183px;
    left: 193px;
}

.emoji.front .mouth {
    position: absolute;
    width: 56px;
    height: 56px;
    background: var(--face-color);
    z-index: 3;
    border-radius: 50px;
    top: 267px;
    left: 124px;
    animation: front-mouth 3s infinite alternate;
}









/* back emoji */
.emoji.back {
    position: relative;
    top: -490px;
    left: -125px;
    margin: 50px auto;
    width: 400px;
    height: 380px;
    transform: rotateZ(-4deg);
    z-index: -15;
    opacity: 0.3;
    perspective: 500px;
    animation: back-rotate 2s infinite alternate;
}

.emoji.back .face {
    position: absolute;
    bottom: 0;
    width: 400px;
    height: 276px;
    /*     background: linear-gradient( #ffeebb 0%, #f2c849 70%, #d6a615 100%); */
    background: var(--main-color);
    overflow: hidden;
    border-radius: 49% 51% 58% 41% / 50% 60% 41% 48% ;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
}


.emoji.back .eye {
    position: absolute;
    width: 40px;
    height: 50px;
    border-radius: 50%;
    background: var(--face-color);
    z-index: 3;
}

.emoji.back .eye.left {
    top: 183px;
    left: 89px;
    border-radius: 33% 63% 57% 39% / 40% 63% 27% 48%;
}
.emoji.back .eye.right {
    top: 203px;
    right: 109px;
    border-radius: 53% 31% 29% 39% / 40% 33% 51% 48% ;
}

.emoji.back .eyebrow {
    position: absolute;
    height: 25px;
    border-radius: 50px;
    background: var(--face-color);
    z-index: 3;
}

.emoji.back .eyebrow.left {
    width: 68px;
    top: 159px;
    left: 37px;
    transform: rotate(-45deg);
}

.emoji.back .eyebrow.left_2 {
    width: 97px;
    top: 156px;
    left: 75px;
    transform: rotate(19deg);
}

.emoji.back .eyebrow.right {
    width: 142px;
    top: 192px;
    left: 208px;
    transform: rotate(-6deg);
}


.emoji.back .mouth {
    position: absolute;
    width: 260px;
    height: 26px;
    background: var(--face-color);
    z-index: 3;
    border-radius: 50px;
    top: 288px;
    left: 157px;
    transform: rotate(-6deg);
}




.emoji.back .hand {
    position: absolute;
    background: var(--hand-color);
    z-index: 5;
    top: 221px;
    left: 27px;
}

.emoji.back .hand.thumb{
    border-radius: 48% 52% 100% 0% / 100% 100% 0% 0%;
    width: 41px;
    height: 60px;
    top: 79px;
    left: 27px;
}

.emoji.back .hand.palm{
    border-radius: 39% 0% 0% 39% / 53% 0% 0% 48%;
    width: 39px;
    height: 60px;
    top: 120px;
    left: 20px;
}

.emoji.back .hand.finger{
    border-radius: 0% 57% 59% 0% / 53% 53% 46% 48% ;
    width: 91px;
    height: 32px;
    top: 120px;
    left: 112px;
}

.emoji.back .hand.finger_knuckle{
    width: 70px;
    height: 32px;
    top: 120px;
    left: 54px;
}

.emoji.back .hand.finger_2{
    border-radius: 0% 57% 59% 0% / 53% 53% 46% 48% ;
    width: 71px;
    height: 32px;
    top: 148px;
    left: 49px;
}



.emoji.back .hand, .emoji.back .face, .emoji.back .mouth,
.emoji.back .eye.left, .emoji.back .eye.right
{
    animation-name: back-scale 2s infinite alternate;
}
